body{
  text-align: center;
}

.about{
  background: rgba(77, 6, 6, 0.384);
  justify-content: center;
 }

 .button{
   padding: 15px 32px;
 }

 img{
  max-width: 220px;
  height: 210px;
  margin-top:10px;
 }
 
 .column{
  float: left;
  margin-right: 20px;
  margin: 10px;

 }
 .card{
  box-shadow: 0px 9px 9px 0px #9eca23;
  padding: 0px 20px;
  height: auto;
 }


 .container{
  background: rgb(51, 180, 101);
  display: flex;
   text-align: center;
   justify-content: center;
 }
