.bg-cover {
    background-image: url("../images/moreleaves.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.container {
    background-color:#8ea8b9d8); 
    padding: 25px;
    border-radius: 5px;
    width: 50%;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.signup-form {
    border-radius: 50px;
    background-color: #ffffffad;
    padding: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}